/* Global Style Navigation*/
body{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(132, 211, 194);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: gray;
    border-radius: 10px;
}

.nav{
    display: flex;
    background-color: rgb(132, 211, 194);
    position: sticky;
    width: 100%;
    top: 0px;
    height: 50px;
    align-items: center;
}
.nav a{
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.nav a:after{
    position: absolute;
    content: "";
    background-color: white;
    height: 5px;
    width: 0px;
    left: 0px;
    bottom: -2px;
    border-radius: 10px;
    transition: all 0.5s;
}
.nav a:hover:after{
    width: 100%;
}
.nav .a{
    display: flex;
    position: absolute;
    right: 30px;
}
.header{
    display: flex;
    background-color: white;
    border: 10px solid rgb(132, 211, 194);
    color: rgb(132, 211, 194);
    flex-direction: column;
    padding-left: 10px;

}
.header p{
    margin-top: -10px;
}
footer{
    display: flex;
    position: absolute;
    width: 100%;
    color: white;
    justify-content: center;
    margin-top: 300px;
    background-color: rgb(132, 211, 194);
}

@media screen and (max-width: 576px ) {

    .nav .a{
        right: 0px;
        position: relative;
        margin: auto;

    }

}
/*===============================*/

/*About style*/

.img img{
    width : 200px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.data_diri{
    margin: auto;
    text-align: center;
}

.data_diri p{
    background-color: rgb(132, 211, 194);
    color: white;
    display: block;
    width:150px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/*===============================*/

/*Form style*/

.container{
    margin: auto;
    width: 600px;
    margin-top: 10px;
}
@media screen and (max-width: 576px ){
    .container{
        width: 350px;
    }
}

/*===============================*/

/*Index form style*/

img{
    width: 200px;
    margin: auto;
    display: block;
    border-radius: 50px;
    margin-top: 10px;

}
.Data p{
    background-color: rgb(132, 211, 194);
    color: white;
    display: block;
    width:150px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

/*===============================*/

/*List style*/

ol{
    color: rgb(132, 211, 194);
}
ul{
    color: rgb(132, 211, 194);
}

/*===============================*/

/*Table style*/

.table table{
    text-align: left;
    margin: auto;
    margin-top: 10px;
}
table th{
    background-color: gray;
    color: white;
}
.responsivetbl table{
    display: none;

}
@media screen and (max-width: 576px ) {
    .responsivetbl table{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;

    }
    .table table{
        display: none;
    }
}
/*===============================*/
